
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<your-clerk-publishable-key>
CLERK_SECRET_KEY=<your-clerk-secret-key>

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_URL=/new-user

DATABASE_URL=<your-database-url>

UPLOADTHING_TOKEN=<your-uploadthing-token>